{% extends "base.twig" %}
{% block content %}

{% include 'campus/single-campus-banner.twig' %}

{# Create subnav manually since wp_list_pages ain't gonna help here #}
<nav class="Subnav" role="navigation">
  <ul class="Subnav-list List">
    <li><a href="{{post.link}}">{{__('Welcome', 'sdh')}}</a></li>
    <li class="is-Active"><a href="{{ post.link|trim('/') }}/details">{{__('Campus Information', 'sdh')}}</a></li>
    <li><a href="{{ post.link|trim('/') }}/facilities">{{__('Facilities', 'sdh')}}</a></li>
  </ul>
</nav>

<div id="info" class="{{'SinglePage'|modifiers("#{sidebar}")}} container">
  <div class="SinglePage-content content-body">
    <div class="Intro">
      <div class="Intro-breadcrumb">
        {% include 'components/breadcrumb.twig' %}
      </div>
      <h1 class="Intro-heading h2 light navy">{{__('Campus Details', 'sdh')}}</h1>
      {% if details_teaser %}
        <p class="Intro-teaser light">{{details_teaser}}</p>
      {% endif %}
    </div>
    {% include 'layout/base.twig' %}
  </div>

  <div class="SinglePage-sidebar Sidebar">
    {% include 'campus/single-campus-quicklinks.twig' %}
    {% include 'campus/single-campus-news-events.twig' %}
  </div>
</div>

{% include 'campus/single-campus-maps.twig' %}

{% endblock %}
