{% extends "base.twig" %}
{% block content %}

{% include 'campus/single-campus-banner.twig' %}

{% if photo and photo is iterable %}
  {% set principal_photo = photo|serveSquareImage %}
{% else %}
  {% set principal_photo = fallback.photo %}
{% endif %}

{# Create subnav manually since wp_list_pages ain't gonna help here #}
<nav class="Subnav" role="navigation">
  <ul class="Subnav-list List">
    <li class="is-Active"><a href="{{post.link}}">{{__('Welcome', 'sdh')}}</a></li>
    <li><a href="{{ post.link|trim('/') }}/details">{{__('Campus Information', 'sdh')}}</a></li>
    <li><a href="{{ post.link|trim('/') }}/facilities">{{__('Facilities', 'sdh')}}</a></li>
  </ul>
</nav>

<div class="{{'SinglePage'|modifiers("#{sidebar}")}} container SingleCampus">
  <div class="SinglePage-content content-body">
    <div class="Intro">
      <div class="Intro-breadcrumb">
        {% include 'components/breadcrumb.twig' %}
      </div>
    </div>
    <div class="SingleCampus-message">
      <div class="SingleCampus-photo lazyload" data-bgset="{{principal_photo.sm}}"></div>
      <div class="SingleCampus-messageBody">
        <h2 class="h2 light navy">{{__('Message from the Principal', 'sdh')}}</h2>
        {{message}}
        <p class="right h7 spaced caps medium orange">{{principal}}</p>
        <div class="SingleCampus-messageShare">
          {% include 'components/social-share.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="SinglePage-sidebar Sidebar">
    {% include 'campus/single-campus-quicklinks.twig' %}
    {% include 'campus/single-campus-news-events.twig' %}
  </div>
</div>

{% include 'campus/single-campus-maps.twig' %}

{% endblock %}
