<div class="Sidebar-section Sidebar-section--framed">
  <div class="SingleCampus-news">
    <h3 class="h7 navy spaced medium caps">{{__('Recent News', 'sdh')}}</h3>
    {% if news %}
      <div class="Feed Feed--list Feed--news">
        <div class="Feed-body">
          {% for post in news %}
            <a class="Feed-item" href="{{post.link}}">
              <div class="flex-wrapper">
                <p class="Feed-title h5 bold">{{post.title}}</p>
                <span class="Feed-meta h6 medium faint">{{__('Posted on', 'sdh')}} {{post.date|date('M j, Y')}}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <a href="#" class="Button Button--gray Button--block">{{__('More News', 'sdh')}}</a>
    {% else %}
      <p class="h5 normal gray noMargin">{{__('There are currently no news at this school.', 'sdh')}}</p>
    {% endif %}
  </div>

  <div class="SingleCampus-news">
    <h3 class="h7 navy spaced medium caps">{{__('Upcoming Events', 'sdh')}}</h3>
    {% if news %}
      <div class="Feed Feed--object Feed--event">
        <div class="Feed-body">
          {% for post in news %}
            <a class="Feed-item" href="{{post.link}}">
              <div class="Feed-media">
                <div class="Feed-mediaMonth h7 medium caps white center">{{post.date|date('d M')[3:3]|upper}}</div>
                <div class="Feed-mediaDay medium white center">{{post.date|date('d M')[0:2]}}</div>
              </div>
              <div class="flex-wrapper">
                <p class="Feed-title h5 bold">{{post.title}}</p>
                <span class="Feed-meta h6 medium faint">
                  <svg aria-hidden="true" role="presentation" title="Event Date">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
                  </svg>{{post.date|date('j M, Y')}}
                </span>
                <span class="Feed-meta h6 medium faint">
                  <svg aria-hidden="true" role="presentation" title="Event Location">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use>
                  </svg>SDH Holland Village Auditorium
                </span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <a href="#" class="Button Button--gray Button--block">{{__('Event Calendar', 'sdh')}}</a>
    {% else %}
      <p class="h5 normal gray noMargin">{{__('There are currently no events at this school.', 'sdh')}}</p>
    {% endif %}
  </div>
</div>
