{% if banner.image and banner.image is iterable %}
  {% set image = banner.image|serveImage %}
  {% set alignment = banner.alignment %}
  {% set custom_alignment = banner.custom_alignment %}
{% else %}
  {% set image = fallback.image %}
  {% set alignment = '' %}
{% endif %}

<section class="Banner Banner--large Banner--campus Banner--{{alignment}} lazyload" data-bgset="{{image.xxl}} [(min-width: {{xxl}})] | {{image.xl}} [(min-width: {{xl}})] | {{image.lg}} [(min-width: {{lg}})] | {{image.md}} [(min-width: {{md}})] | {{image.sm}} [(min-width: {{sm}})] | {{image.xs}}" style="{% if alignment == "custom" %}background-position: center {{custom_alignment}}%;{% endif %}">
  <div class="Banner-container container">
    <h2 class="Banner-copy h3 white light noMargin">
      {{__('Welcome to SDH', 'sdh')}} {{post.title|title}}
    </h2>
  </div>
</section>
