<div class="MobileHome" data-component="mobile-home">

  <div class="MobileHero" style="background-image: url({{placeholder_image.sm}})">

    {% for item in mobile_hero %}

      {% if item.image and item.image is iterable %}
        {% set image = item.image|serveImage %}
      {% else %}
        {% set image = fallback.image %}
      {% endif %}

      <a class="MobileHero-item" href="google.com">
        <div class="MobileHero-image lazyload" data-bgset="{{image.md}} [(min-width: {{md}})] | {{image.sm}}"></div>
        <div class="MobileHero-copy light white noMargin center">
          {% for word in item.title|split(' ', 7) %}
            {% if loop.index < 7 %} {# Limit to 6 words #}
              <span>{{word}}</span>
            {% endif %}
          {% endfor %}
        </div>
      </a>

    {% endfor %}

    <div class="MobileHero-link">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#touch"></use>
      </svg>
      <a href="google.com" class="spaced caps medium white">{{__('Learn More', 'sdh')}}</a>
    </div>
  </div>

  {% include 'page/front-page-news.twig' %}

  <div class="MobileHome-about">
    <h2 class="h3 normal navy">{{home_blocks.title}}</h2>
    {% include 'components/block.twig' with {data: home_blocks.blocks} %}
  </div>

</div>
