{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/event-object.twig' %}
{% endblock %}

{% block content %}

<div class="SinglePage ArchivePage container">
  <div class="SinglePage-content">
    <div class="Intro">
      <h1 class="Intro-heading h2 light navy">{{title|title}}</h1>
      <p class="Intro-teaser light gray">{{teaser}}</p>
    </div>

    {# ----------------- Events Archive ----------------- #}
    <div class="ArchiveEvents" data-component="events" data-options='{ "domain": "{{site.url}}", "ppp": "{{ppp}}", "campuses": {{campuses_json}}, "emptyMsg": "{{empty_msg}}", "buttonLabel": "{{__('See Event', 'sdh')}}" }'>
      <h2 class="h3 normal navy">{{__('Upcoming Events at Our Campuses', 'sdh')}}</h2>
      <div class="ArchiveEvents-control">
        <span class="h7 medium caps spaced faint">{{__('Filter by Campus', 'sdh')}}</span>
        <div class="ArchiveEvents-filter">
          <div class="Pill Pill--all h6 medium" data-campus="all">{{__('All', 'sdh')}}</div>
          {% for campus in campuses %}
            <div class="Pill h6 medium" data-campus="{{campus.slug}}">{{campus.name |title}}</div>
          {% endfor %}
        </div>
      </div>
      <div class="ArchiveEvents-nav">
        <div class="ArchiveEvents-navButton ArchiveEvents-navButton--prev h7 spaced caps medium navy">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-left"></use>
          </svg><span></span>
        </div>
        <div class="ArchiveEvents-navNow h5 medium navy"><span></span></div>
        <div class="ArchiveEvents-navButton ArchiveEvents-navButton--next h7 spaced caps medium navy"><span></span>
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use>
          </svg>
        </div>
      </div>
      {% include 'components/loader.twig' %}
      <div class="ArchiveEvents-notification h3 light navy center">No events found. Please try again.</div>
      <div class="ArchiveEvents-result"></div>
    </div>
    {% include 'layout/base.twig' %}
  </div>

  <div class="SinglePage-sidebar Sidebar">
    <div class="Sidebar-section Sidebar-section--callout Sidebar-section--navy">
      <div class="Editor">
        <h3>{{__('Download Calendar', 'sdh')}}</h3>
        <p>{{__('If you use your own calendar app, click here to download and import all of our events', 'sdh')}}</p>
        <a href="{{ics}}" class="Button Button--block Button--gray">{{__('Download', 'sdh')}}</a>
      </div>
    </div>
    {% if sidebar_sections %}
      {% include 'layout/sidebar-base.twig' %}
    {% endif %}
  </div>
</div>

{% endblock %}
