{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/event-object.twig' %}
{% endblock %}

{% block content %}

<div class="SinglePage ArchivePage container">
  <div class="SinglePage-content">
    <div class="Intro">
      <h1 class="Intro-heading h2 light navy">{{title|title}}</h1>
      <p class="Intro-teaser light faint">{{teaser}}</p>
    </div>

    {# ----------------- Events Archive ----------------- #}
    <div class="ArchiveEvents" data-component="events" data-options='{ "domain": "{{site.url}}", "campuses": {{campuses_json}}, "emptyMsg": "{{empty_msg}}" }'>
      <h2 class="h3 normal navy">{{__('Events at Our Campuses', 'sdh')}}</h2>
      <div class="ArchiveEvents-control">
        <span class="h7 medium caps spaced faint">{{__('Filter by Campus', 'sdh')}}</span>
        <div class="ArchiveEvents-filter">
          {% for campus in campuses %}
            <div class="Pill h6 medium" data-campus="{{campus.slug}}">{{campus.name |title}}</div>
          {% endfor %}
        </div>
      </div>
      {% include 'components/loader.twig' %}
      <div class="ArchiveEvents-content"></div>
    </div>
    {% include 'layout/base.twig' %}
  </div>

  <div class="SinglePage-sidebar Sidebar">
    {% if sidebar_sections %}
      {% include 'layout/sidebar-base.twig' %}
    {% endif %}
  </div>
</div>

{% endblock %}
