{% extends "base.twig" %}

{% block content %}
{% include 'components/banner.twig' %}

<div class="SingleEvent">
  <div class="container">
    <div class="Share">
      {% include 'components/social-share.twig' %}
    </div>

    <div class="SingleEvent-content">
      <div class="Intro Intro--withMeta">
        <div class="Intro-breadcrumb">
          {% include 'components/breadcrumb.twig' %}
        </div>
        <h1 class="Intro-heading h2 light navy">{{post.title}}</h1>
        <div class="Intro-meta h7 caps spaced medium faint">{{campus}}</div>

        {% if gcal.description %}
          <p>{{gcal.description}}</p>
        {% endif %}
      </div>
    </div>

    <div class="Sidebar">
      <div class="SingleEvent-details">
        <h5 class="h6 medium caps spaced white noMargin">Event Details</h5>
      </div>

      <div class="SingleEvent-meta">
        {# Set up repeating event #}
        {% set eventDate = "" %}
        {% if gcal.event_children_date %}
          {# If this event is repeating forever, only grab 4 repetitions (one month) #}
          {% for repeat in gcal.event_children_date|slice(0, 4) %}
            {% set eventDate = eventDate ~ repeat ~ "<br>"%}
          {% endfor %}
        {% else %}
          {% set eventDate = gcal.event_date %}
        {% endif %}

        <div class="SingleEvent-metaItem">
          <svg aria-hidden="true" role="presentation" title="Event Date">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
          </svg>
          <span class="h5 medium faint">{{eventDate}}</span>
        </div>

        {% if gcal.event_time %}
          <div class="SingleEvent-metaItem">
            <svg aria-hidden="true" role="presentation" title="Event Time">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
            </svg>
            <span class="h5 medium faint">{{gcal.event_time}}</span>
          </div>
        {% endif %}

        {% if gcal.location %}
          <div class="SingleEvent-metaItem">
            <svg aria-hidden="true" role="presentation" title="Event School">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use>
            </svg>
            <span class="h5 medium faint">SDH {{campus}}<br>{{gcal.location}}</span>
          </div>
        {% endif %}
      </div>

      {# Other events at this school #}
      <h3 class="h7 navy spaced medium caps">{{__('Events at', 'sdh')}} {{campus}}</h3>
      {% include 'components/feed.twig' with {data: events, empty: __('There are currently no events at this school.', 'sdh')} %}
      <a href="{{site.url}}/events" class="Button Button--gray Button--block Button--withMargin">{{__('See All', 'sdh')}}</a>

    </div>
  </div>
</div>

{% endblock %}
