{% extends "base.twig" %}

{% block content %}
{% include 'components/banner.twig' %}

<div class="SingleEvent">
  <div class="container">
    <div class="Share">
      {% include 'components/social-share.twig' %}
    </div>

    <div class="SingleEvent-content content-body">
      <div class="Intro Intro--withMeta">
        <div class="Intro-breadcrumb">
          {% include 'components/breadcrumb.twig' %}
        </div>
        <h1 class="Intro-heading h2 light navy">{{post.title}}</h1>
        <div class="Intro-meta h7 caps spaced medium faint">{{campus}}</div>

        {% if acf.gcal.description %}
          <p>{{acf.description}}</p>
        {% endif %}
      </div>
    </div>

    <div class="Sidebar">
      <div class="SingleEvent-details">
        <h5 class="h6 medium caps spaced white noMargin">Event Details</h5>
      </div>

      <div class="SingleEvent-meta">

        {# Set up repeating event #}
        {% set eventDate = "" %}
        {% if event_children_date %}
          {# If this event is repeating forever, only grab 4 repetitions (one month) #}
          {% for repeat in event_children_date|slice(0, 4) %}
            {% set eventDate = eventDate ~ repeat ~ "<br>"%}
          {% endfor %}
        {% else %}
          {% set eventDate = event_date %}
        {% endif %}

        <div class="SingleEvent-metaItem">
          <svg aria-hidden="true" role="presentation" title="Event Date">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
          </svg>
          <span class="h5 medium faint">{{eventDate}}</span>
        </div>

        {% if event_time %}
          <div class="SingleEvent-metaItem">
            <svg aria-hidden="true" role="presentation" title="Event Time">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
            </svg>
            <span class="h5 medium faint">{{event_time}}</span>
          </div>
        {% endif %}

        {% if acf.gcal.location %}
          <div class="SingleEvent-metaItem">
            <svg aria-hidden="true" role="presentation" title="Event School">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use>
            </svg>
            <span class="h5 medium faint">SDH {{campus}}<br>{{acf.gcal.location}}</span>
          </div>
        {% endif %}
      </div>

      {% if events %}
      <h3 class="h7 navy spaced medium caps">{{__('Events at SDH', 'sdh')}} {{campus}}</h3>
      <div class="Feed Feed--object Feed--event">
        <div class="Feed-body">
          {% for post in events %}
            <a class="Feed-item" href="{{post.link}}">
              <div class="Feed-media">
                <div class="Feed-mediaMonth h7 medium caps white center">{{post.date|date('d M')[3:3]|upper}}</div>
                <div class="Feed-mediaDay medium white center">{{post.date|date('d M')[0:2]}}</div>
              </div>
              <div class="flex-wrapper">
                <p class="Feed-title h5 bold">{{post.title}}</p>
                <span class="Feed-meta h6 medium faint">
                  <svg aria-hidden="true" role="presentation" title="Event Location">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
                  </svg>{{post.teaser|slice(0,60)~'...'}}
                </span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <a href="#" class="Button Button--gray Button--block">{{__('See All', 'sdh')}}</a>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
