<div class="container Four-o-four--empty">
  <h3 class="h3 normal navy">{{__('Our Apologies', 'sdh')|title}}</h3>
  <p class="h4 light body">
    {{__('We seem to have forgotten to create the content body of this page. Please email our webteam at', 'sdh')}} <a href="mailto:{{feedback}}">{{feedback}}</a> {{__('and let us know about this', 'sdh')}}.
  </p>
</div>
