<div class="container Four-o-four--empty">
  <h3 class="h3 normal navy">{{__('Our Apologies', 'sdh')|title}}</h3>
  <p class="h4 light body">
    {{__('The content of this page is still in progress. Please email our web team at', 'sdh')}} <a href="mailto:{{webmaster}}">{{webmaster}}</a> {{__('if you have any questions', 'sdh')}}.
  </p>
</div>
