{% if callout %}
  {# Callout two columns #}
  <div class="Callout">
    <div class="Callout-content">
{% else %}
  {# Normal two columns #}
  <div class="row row--of-2">
{% endif %}

  {% if left and not callout %}
    <div class="column column-left">
  {% endif %}
    {% block left %}{% endblock %}
  {% if left and not callout %}
    </div>
  {% endif %}

  {% if callout %}
    </div>
    {% set image = callout_image|serveImage %}
    <div class="Callout-image lazyload" data-bgset="{{image.xxl}} [(min-width: {{xxl}})] | {{image.xl}} [(min-width: {{xl}})] | {{image.lg}} [(min-width: {{lg}})] | {{image.md}} [(min-width: {{md}})] | {{image.sm}} [(min-width: {{sm}})] | {{image.xs}}"></div>
  {% endif %}

  {% if right and not callout %}
    <div class="column column-right">
      {% block right %}{% endblock %}
    </div>
  {% endif %}

</div>
