{% set footer_image = footer_bg|serveImage %}

<section class="Cta">
  <div class="flex-wrapper">
    <h3 class="h3 light white noMargin">{{cta}}</h3>
  </div>
  <div class="Cta-buttons">
    <a href="" class="Button">Apply Now</a>
    <a href="" class="Button Button--outline-light">Request a Brochure</a>
  </div>
</section>

<footer class="Footer lazyload" data-bgset="{{footer_image.xxl}} [(min-width: {{xxl}})] | {{footer_image.xl}} [(min-width: {{xl}})] | {{footer_image.lg}} [(min-width: {{lg}})] | {{footer_image.md}} [(min-width: {{md}})] | {{footer_image.sm}} [(min-width: {{sm}})] | {{footer_image.xs}}">
  <section class="Footer-primary container">
    {% for parent in footer.parents %}
      <div class="Footer-column">
        <a href="{{parent.link}}" class="h6 caps spaced navy medium center">{{parent.title}}</a>
        <ul class="List center">
          {% for child in parent.children %}
            <li><a href="{{child.link}}" class="Footer-link h6 medium">{{child.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </section>

  <div class="Footer-secondary container">
    <div class="Footer-essentials">
      {% if policy %}
        <a href="{{policy}}" class="Footer-secondaryLink">{{__('Privacy Policy', 'sdh')}}</a>
        <span class="Footer-dot">●</span>
      {% endif %}

      <a href="mailto:sdh.webteam@sdh.or.id" class="Footer-secondaryLink">{{__('Feedback', 'sdh')}}</a>
      <span class="Footer-dot">●</span>

      <div class="Footer-languages">
        <span class="h7 medium faint">{{__('Languages', 'sdh')}}:</span>
        <a href="{{languages.en}}" class="Footer-secondaryLink Footer-secondaryLink--active">English</a>
        {% if 'id' in languages.list %}
          <a href="{{languages.id}}" class="Footer-secondaryLink">Indonesian</a>
        {% endif %}
      </div>
    </div>

    <div class="Footer-legal">
      <span class="h7 medium faint">
        Copyright&nbsp;&nbsp;©&nbsp;&nbsp;{{"now"|date('Y')}} {{org.name}}
      </span>
    </div>

    <div class="Footer-social">
      {% for name, link in social %}
        {% if link %}
        <a href="{{link}}" class="Footer-socialIcon">
          <svg aria-hidden="true" role="presentation" title="{{name}}">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{name}}"></use>
          </svg>
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</footer>
