{# {% if locale == 'id_ID' %}
  {% set language = 'id' %}
{% elseif locale == 'en_US' %}
  {% set language = 'en' %}
{% else %}
  {% set language = 'zh' %}
{% endif %} #}

<header class="Header">

<!-- <div class="SearchBar">
  <form class="SearchBar-form container" role="form" action="{{site.url}}/search" accept-charset="UTF-8" method="get">
    <input class="SearchBar-input" id="SearchBar-input" type="text" name="q" autocomplete="off">
    <label class="SearchBar-label" for="SearchBar-input">{{__('Search events, media or keywords', 'saat')}}</label>
  </form>
</div> -->

<div class="Header-logo">
  <svg aria-hidden="true" role="presentation" title="SDH Text Logo">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-text"></use>
  </svg>
</div>

<div class="Header-nav">

  <nav class="Header-secondary" role="navigation">
    <div class="flex-wrapper">
      <div class="Header-languages">
        <svg aria-hidden="true" role="presentation" title="Select Language">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#globe"></use>
        </svg>
        <span class="h7 medium white">English</span>
        <svg aria-hidden="true" role="presentation" title="Select Language">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use>
        </svg>
      </div>
    </div>

    <div class="flex-wrapper">
      <div class="flex-wrapper">
        <a href="" class="Header-quicklinks h7 medium yellow">
          <svg aria-hidden="true" role="presentation" title="See our school news">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#news"></use>
          </svg>School News
        </a>
        <a href="" class="Header-quicklinks h7 medium yellow">
          <svg aria-hidden="true" role="presentation" title="See our events">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
          </svg>Event Calendar
        </a>
      </div>
      <ul class="Header-secondaryList List List--inline">
        {% for item in secondary_menu %}
          <li><a href="{{item.link}}" class="Header-secondaryLink h7 caps medium white">{{item.title}}</a></li>
        {% endfor %}
      </ul>
      <a href="" class="Header-search">
        <svg aria-hidden="true" role="presentation" title="Search SDH Website">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
        </svg>
      </a>
    </div>
  </nav>

  <nav class="Header-primary" role="navigation">
    <ul class="Header-primaryList List List--inline">
      {% for item in primary_menu %}
        {% if item.link in current_url %}
          {% set is_active = ' is-Active' %}
        {% else %}
          {% set is_active = '' %}
        {% endif %}
        <li><a href="{{item.link}}" class="Header-primaryLink h5 medium {{is_active}}">{{item.title}}</a></li>
      {% endfor %}
    </ul>
    <div class="flex-wrapper--fixed">
      <a href="" class="Button Button--icon">
        <svg aria-hidden="true" role="presentation" title="See Our Campuses">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use>
        </svg>
        Our Campuses
      </a>
    </div>
  </nav>
</div>

</header>
