{% extends "base.twig" %}

{% block before_content %}
  {% include 'components/news-object.twig' %}
{% endblock %}

{% block content %}
{% set image = fallback.image %}

<div class="SinglePage ArchivePage container">
  <div class="SinglePage-content">
    <div class="Intro">
      <h1 class="Intro-heading h2 light navy">{{title|title}}</h1>
      <p class="Intro-teaser light gray">{{teaser}}</p>
    </div>

    {# ----------------- News Archive ----------------- #}
    <div class="ArchiveNews" data-component="news" data-options='{ "domain": "{{site.url}}", "ppp": "{{ppp}}", "appId": "{{analytics.facebook_app_id}}", "handle": "{{analytics.twitter_analytics_id}}", "campuses": {{campuses_json}}, "emptyMsg": "{{empty_msg}}", "emptyImg": "{{image.xs}}" }'>
      <h2 class="h3 normal navy">{{__('News from Our Campuses', 'sdh')}}</h2>

      <div class="ArchiveNews-control">
        <div class="ArchiveNews-filter">
          <span class="h7 medium caps spaced faint">{{__('Date', 'sdh')}}:</span>
          <div class="Select">
      			<select class="ArchiveNews-dateFilter h6 medium navy">
      				<option value="desc">{{__('Latest', 'sdh')}}</option>
      				<option value="asc">{{__('Oldest', 'sdh')}}</option>
      			</select>
            <svg aria-hidden="true" role="presentation" title="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use>
            </svg>
      		</div>
        </div>
        <div class="ArchiveNews-filter">
          <span class="h7 medium caps spaced faint">{{__('Campus', 'sdh')}}:</span>
          <div class="Select">
      			<select class="ArchiveNews-campusFilter h6 medium navy">
      				<option value="all" selected="selected">{{__('All', 'sdh')}}</option>
              {% for campus in campuses %}
                <option value="{{campus.slug}}">{{campus.name |title}}</option>
              {% endfor %}
      			</select>
            <svg aria-hidden="true" role="presentation" title="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#down"></use>
            </svg>
      		</div>
        </div>
      </div>
      {% include 'components/loader.twig' %}
      <div class="ArchiveNews-content" data-component="share"></div>

      <div class="Pagination">
        <a class="Pagination-prev Pagination-nav Pagination--inactive" data-page="0">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-left"></use>
          </svg>
        </a>
        <div class="Pagination-pages"></div>
        <a class="Pagination-next Pagination-nav Pagination--inactive" data-page="0">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>

    </div>
    {% include 'layout/base.twig' %}
  </div>

  <div class="SinglePage-sidebar Sidebar">
    {% if sidebar_sections %}
      {% include 'layout/sidebar-base.twig' %}
    {% endif %}
  </div>
</div>

{% endblock %}
