{% extends "base.twig" %}
{% block content %}

<div class="{{'SinglePage'|modifiers("#{sidebar}")}} container">
  <div class="SinglePage-share Share Share--horizontal">
    {% include 'components/social-share.twig' %}
  </div>
  <div class="SinglePage-content">
    <div class="Intro Intro--withMeta">
      <div class="Intro-breadcrumb">
        {% include 'components/breadcrumb.twig' %}
      </div>
      <h1 class="Intro-heading light navy">{{post.title}}</h1>
      <div class="Intro-meta h7 caps spaced medium faint">{{__('Posted on', 'sdh')}} {{post.date|date('j M, Y')}}</div>
      {% if acf.teaser %}
        <p class="Intro-teaser light">{{acf.teaser}}</p>
      {% endif %}
      {% if acf.image %}
        {% include 'components/image.twig' with {'data': {'figure': acf.image}} %}
      {% endif %}
    </div>
    {% include 'layout/base.twig' %}
  </div>
  <div class="SinglePage-sidebar Sidebar">
    {% if sidebar_sections %}
      {% include 'layout/sidebar-base.twig' %}
    {% endif %}
  </div>
</div>

{% endblock %}
