{% set image = acf.banner.image|serveImage(1440) %}
{% set size = acf.banner_size %}
{% set alignment = acf.alignment %}

<section class="{{'Banner'|modifiers("#{size}, #{alignment}")}} lazyload" data-bgset="{{image}} [(min-width: {{xxl}})] | {{image}} [(min-width: {{lg}})] | {{image}} [(min-width: {{md}})] | {{image}}" style="{% if alignment == "custom" %}background-position: center {{acf.custom_alignment}}%;{% endif %}">
  <div class="Banner-container container">
    {% if acf.teaser %}
      <h2 class="Banner-copy white light right">
        <span class="h6 block caps bold white spaced right">{{breadcrumb|first.title}}</span>{{acf.teaser}}
      </h2>
    {% endif %}
  </div>
</section>
