{% for block in data.blocks %}
  {% set post = TimberPost(block) %}
  {% set image = post.get_field('image') %}
  {% set description = post.get_field('description') %}
  {% set link_type = post.get_field('type') %}

  {% if link_type == "single" %}
    {% set url = post.get_field('single_url') %}
  {% elseif link_type == "external" %}
    {% set url = post.get_field('external_url') %}
  {% else %}
    {% set url = post.get_field('search_url') %}
  {% endif %}

  <div class="Block lazyload" data-component="block" data-url="{{url}}" data-bgset="{{image|serveImage(720)}}">
    <div class="Block-title h4 bold white center">{{post.title}}</div>
    <a href="{{url}}" class="Block-body">
      <p class="Block-bodyTitle h4 bold white center">{{post.title}}</p>
      <p class="Block-bodyTeaser h5 normal white center">{{description}}</p>
      <p class="Block-bodyLink h7 caps medium spaced yellow noMargin">
        <span>{{__('Learn More', 'sdh')}}</span>
        <svg aria-hidden="true" role="presentation" title="">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use>
        </svg>
      </p>
    </a>
  </div>
{% endfor %}
