<script id="EventObject" type="x-tmpl-mustache">
{% verbatim %}

{{#error}}
  <h3 class="h4 light navy">{{error}}</h3>
{{/error}}
{{#empty}}
  <h3 class="h4 light navy">{{empty}}</h3>
{{/empty}}

{{#title}}
  <a href="{{link}}" class="EventObject" data-campus="{{slug}}">
    <div class="EventObject-date">
      <div class="Feed-mediaMonth h7 medium caps white center">{{month}}</div>
      <div class="Feed-mediaDay medium white center">{{day}}</div>
    </div>
    <div class="EventObject-body">
      {{#campus}}
        <div class="h7 medium spaced caps faint">{{campus}}</div>
      {{/campus}}
      <h3 class="h3 normal navy noMargin">{{title}}</h3>
      <div class="EventObject-meta">
        {{#start}}
          <div class="flex-wrapper">
            <svg aria-hidden="true" role="presentation" title="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
            </svg>
            <span class="h6 medium faint">{{start}} - {{end}}</span>
          </div>
        {{/start}}

        {{#location}}
          <div class="flex-wrapper">
            <svg aria-hidden="true" role="presentation" title="">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use>
            </svg>
            <span class="h6 medium faint">{{location}}</span>
          </div>
        {{/location}}
      </div>
    </div>
    <div class="flex-wrapper">
      <div class="Button Button--small">{{label}}</div>
    </div>
  </a>
{{/title}}

{% endverbatim %}
</script>
